body {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
a {
	text-decoration: none;
}
table {
	border-spacing: 0;
}
fieldset {
	border: 0px currentColor; border-image: none;
}
img {
	border: 0px currentColor; border-image: none;
}
address {
	font-style: normal; font-weight: normal;
}
caption {
	font-style: normal; font-weight: normal;
}
cite {
	font-style: normal; font-weight: normal;
}
code {
	font-style: normal; font-weight: normal;
}
dfn {
	font-style: normal; font-weight: normal;
}
em {
	font-style: normal; font-weight: normal;
}
strong {
	font-style: normal; font-weight: normal;
}
th {
	font-style: normal; font-weight: normal;
}
var {
	font-style: normal; font-weight: normal;
}
strong {
	font-weight: bold;
}
ol {
	list-style: none; margin: 0px; padding: 0px;
}
ul {
	list-style: none; margin: 0px; padding: 0px;
}
caption {
	text-align: left;
}
th {
	text-align: left;
}
h1 {
	margin: 0px; padding: 0px; color: rgb(68, 68, 68); font-size: 100%; font-weight: normal;
}
h2 {
	margin: 0px; padding: 0px; color: rgb(68, 68, 68); font-size: 100%; font-weight: normal;
}
h3 {
	margin: 0px; padding: 0px; color: rgb(68, 68, 68); font-size: 100%; font-weight: normal;
}
h4 {
	margin: 0px; padding: 0px; color: rgb(68, 68, 68); font-size: 100%; font-weight: normal;
}
h5 {
	margin: 0px; padding: 0px; color: rgb(68, 68, 68); font-size: 100%; font-weight: normal;
}
h6 {
	margin: 0px; padding: 0px; color: rgb(68, 68, 68); font-size: 100%; font-weight: normal;
}
q::before {
	content: "";
}
q::after {
	content: "";
}
abbr {
	border: 0px currentColor; border-image: none;
}
acronym {
	border: 0px currentColor; border-image: none;
}
body {
	color: rgba(0, 0, 0, 0.5); font-family: arial,helvetica;
}
.wrap {
	width: 960px; margin-right: auto; margin-left: auto; position: relative;
}
h1 {
	font-size: 6em;
}
p {
	font-size: 2em;
}
.intro p {
	margin: 0px auto; width: 50%; font-size: 1.5em;
}
.section {
	text-align: center;
}
#menu li {
	background: rgba(255, 255, 255, 0.5); margin: 10px; border-radius: 10px; color: rgb(0, 0, 0); display: inline-block; -webkit-border-radius: 10px;
}
#menu li.active {
	background: rgba(0, 0, 0, 0.5); color: rgb(255, 255, 255);
}
#menu li a {
	color: rgb(0, 0, 0); text-decoration: none;
}
#menu li.active a:hover {
	color: rgb(0, 0, 0);
}
#menu li:hover {
	background: rgba(255, 255, 255, 0.8);
}
#menu li a {
	padding: 9px 18px; display: block;
}
#menu li.active a {
	padding: 9px 18px; display: block;
}
#menu li.active a {
	color: rgb(255, 255, 255);
}
#menu {
	margin: 0px; padding: 0px; left: 0px; top: 0px; width: 100%; height: 40px; position: fixed; z-index: 70;
}
.twitter-share-button {
	top: 9px; right: 149px; position: fixed !important; z-index: 99;
}
#infoMenu {
	padding: 8px 0px; width: 100%; height: 20px; text-align: right; bottom: 0px; color: rgb(242, 242, 242); font-size: 0.9em; position: fixed; z-index: 70;
}
#infoMenu ul {
	padding: 0px 40px;
}
#infoMenu li a {
	margin: 0px 22px 0px 0px; color: rgb(51, 51, 51); display: block;
}
#infoMenu li a:hover {
	text-decoration: underline;
}
#infoMenu li {
	display: inline-block; position: relative;
}
#examplesList {
	background: rgb(40, 40, 40); padding: 20px; border-radius: 6px; width: 822px; text-align: left; right: 0px; bottom: 29px; float: left; display: none; position: absolute; -webkit-border-radius: 6px; -moz-border-radius: 6px;
}
#examplesList ul {
	padding: 0px;
}
#examplesList ul li {
	margin: 5px 0px; display: block;
}
#examplesList ul li a {
	margin: 0px; color: rgb(189, 189, 189);
}
#examplesList ul li a:hover {
	color: rgb(242, 242, 242);
}
#examplesList .column {
	margin: 0px 20px 0px 0px; float: left;
}
#examplesList h3 {
	margin: 0px 0px 15px; padding: 0px 0px 5px; color: rgb(242, 242, 242); font-size: 1.2em; border-bottom-color: rgba(0, 0, 0, 0.4); border-bottom-width: 1px; border-bottom-style: solid; box-shadow: 0px 1px 0px rgba(255,255,255,0.1); -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1); -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}
#demosMenu {
	right: 10px; bottom: 10px; position: fixed; z-index: 999;
}
#download a {
	text-decoration: none;
}
#download {
	text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
}
#download:hover {
	text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
}
.button {
	margin: 20px 0px 0px; vertical-align: middle; display: inline-block;
}
.button a {
	background: rgba(0, 0, 0, 0.4); padding: 15px 30px; border-radius: 5px; color: rgb(255, 255, 255); display: inline-block;
}
.button a:hover {
	color: rgb(49, 111, 104); background-color: rgb(255, 255, 255);
}
.preview-extensions-menu {
	top: 0px; right: 0px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; position: fixed; z-index: 99; box-shadow: 1px 0px 3px rgba(0,0,0,0.8);
}
.preview-extensions-menu li {
	margin: 0px; display: inline-block;
}
.preview-extensions-menu li a {
	padding: 15px 25px; display: block;
}
.preview-buy-extension {
	background: rgb(60, 198, 60);
}
.preview-more-extensions {
	background: rgb(255, 255, 255);
}
.preview-buy-extension a {
	color: rgb(255, 255, 255);
}
.preview-buy-extension:hover {
	background-color: rgb(26, 150, 26);
}
.preview-more-extensions a {
	color: rgb(51, 51, 51);
}
.code {
	background: rgba(255, 255, 255, 0.7); padding: 0px 5px; line-height: 25px;
}
